{% extends 'main.html' %}


{% block content  %}
<h2>Project</h2>

    <table style=>
    <tr>
        <th>Project</th>
        <th>Vote</th>
        <th>Created</th>
        <th>Detail</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
        {% for project in projects %}
            <tr>
            <td> {{ project.title }}</td>
            <td> {{ project.voteRatio }}</td>
            <td> {{ project.created }}</td>
            <td><a href="{% url 'project' project.id %}">Viwe</a></td>
            <td><a href="{% url 'update' project.id %}">Update</a></td>
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
            </tr>

     {% endfor %}

    </table>


{% endblock %}